
.sidenav {
    height: 100%;
    width: 150px;
    height: 300px;
    position: sticky; top:0;
    z-index: 1;
    top: 3;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }

  .navBtn {
    height: 100%;
    width: 200px;
    height: 300px;
    position: fixed;
    z-index: 1;
    top: 3;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  #main {
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 200px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  @media screen and (max-width: 500px) {
    .sidenav {padding-top: 15px;}
    .sidenav {width: 200;}
    .sidenav a {font-size: 18px;}
  }